<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <%- include('layouts/sidebar'); -%>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <%- include('layouts/navbar'); -%>

                <!-- Page content-->
                <div class="container-fluid mb-2">
                    <h4 class="mt-4 text-center mt-2">Nomes Similares por Distrito</h4>
                    <hr>
                    <!--
                    <div class="text-center mt-2">
                        <form action="">
                            <button class="btn btn-secondary">Carregar Ficheiro Excel</button>
                        </form>
                    </div>
                    -->
                </div>
               <!-- <p class="text-center">Ou</p> -->
                <!-- Form -->
                <%- include('layouts/form'); -%>
            </div>
        </div>
        <%- include('layouts/scripts'); -%>
    </body>
</html>
